<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="banner">
      <pre class="mb-0">
         ___            _                     ___  ___
        | . \ ___  _ _ | |   ___ ._ _ _  ___ / __>| __>
        | | |/ ._>| | || |_ / . \| ' ' |/ . \\__ \| _>
        |___/\___.|__/ |___|\___/|_|_|_|\___/<___/|___>
      </pre>
      &copy; Company 2021, Inc. Todos los derechos reservados. Términos de uso y privacidad.
    </div>
</body>
</html>