<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/layout/head :: head">
</head>
<body>
  <div th:insert="layout/navbar :: navbar" class="mb-2"/>

  <div class="container">
    <div class="card-body bg-light">
      <div class="card-header" th:text="${titulo}"></div>
      <div class="card-body">

        <h4 class="card-title">
          <a th:href="@{/cliente/ver/} + ${factura.cliente.id}" class="btn text-secondary">
            <i class="fas fa-arrow-circle-left"></i>
            Volver
          </a>
          <a th:href="@{'/factura/show/' + ${factura.id}(format=pdf)}" class="btn btn-outline-primary">
            PDF
            <i class="far fa-file-pdf"></i>
          </a>
        </h4>

        <ul class="list-group mb-2 mt-3">
          <li class="list-group-item list-group-item-secondary" th:text="#{text.factura.datos.cliente}"></li>
          <li class="list-group-item" th:text="${factura.cliente}"></li>
          <li class="list-group-item" th:text="${factura.cliente.email}"></li>
        </ul>

        <ul class="list-group">
          <li class="list-group-item list-group-item-secondary" th:text="#{text.factura.datos.factura}"></li>
          <li class="list-group-item" th:text="#{text.factura.datos.factura.folio} +': '+ ${factura.id}"></li>
          <li class="list-group-item" th:text="#{text.factura.datos.factura.descripcion} +': '+ ${factura.descripcion}"></li>
          <li class="list-group-item" th:text="#{text.cliente.fecha} +': '+ ${factura.createdAt}"></li>
        </ul>

        <div class="alert alert-info mt-4"
              th:if="${#lists.isEmpty(factura.items)}"
              th:text="'La Factura '+${factura.descripcion}+' no tiene productos relacionados'"></div>

        <table class="mt-3 table table-bordered table-striped table-hover"
               th:if="${not #lists.isEmpty(factura.items)}">
          <thead>
            <tr>
              <th th:text="#{text.factura.tabla.producto}">Producto</th>
              <th th:text="#{text.factura.tabla.precio}">Precio</th>
              <th th:text="#{text.factura.tabla.cantidad}">Cantidad</th>
              <th th:text="#{text.factura.tabla.total}">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item : ${factura.items}">
              <td th:text="${item.producto.nombre}"></td>
              <td th:text="'$'+${item.producto.precio}"></td>
              <td th:text="${item.cantidad}"></td>
              <td th:text="'$'+${item.calculateImport()}"></td>
            </tr>
          </tbody>
        </table>

        <h6 class="text-end" >
          <span th:text="#{text.factura.tabla.total}+': $'+${factura.total}"></span>
        </h6>

        <div class="card border-secondary mb-4" style="max-width: 20rem;">
          <div class="card-header" th:text="#{text.factura.observaciones}">Observaciones</div>
          <div class="card-body">
            <p class="card-text"
               th:text="${factura.observacion}"
               th:if="${not #strings.isEmpty(factura.observacion)}"></p>
            <h4 class="card-title"
                th:if="${#strings.isEmpty(factura.observacion)}">
              No tiene observaciones.
            </h4>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div th:insert="layout/footer :: footer"></div>
</body>
</html>