<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/layout/head :: head">
</head>
<body>
    <div th:insert="layout/navbar :: navbar" class="mb-2"/>

    <div class="container mt-2 mb-2">
        <div class="card bg-light">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">
                <h4 class="card-title">
                    <a th:href="@{/cliente/ver/} + ${factura.cliente.id}" class="nav-link text-secondary">
                        <i class="fas fa-arrow-circle-left"></i>
                        Volver
                    </a>
                </h4>
                <form th:action="@{/factura/form/}" th:object="${factura}" method="post">
                    <div class="form-group row mb-2">
                        <label for="descripcion" class="col-sm-2 col-form-label">
                            Cliente
                        </label>
                        <div class="col-sm-5">
                            <input th:value="${factura.cliente.nombre} +
                                            ' ' + ${factura.cliente.apellido}"
                                   readonly class="form-control">
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="descripcion" class="col-sm-2 col-form-label">
                            Descripción
                        </label>
                        <div class="col-sm-5">
                            <input type="text" th:field="*{descripcion}" class="form-control"
                                   id="descripcion" placeholder="Descricpión">
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="observacion" class="col-sm-2 col-form-label">
                            Observaciones
                        </label>
                        <div class="col-sm-5">
                            <textarea th:field="*{observacion}" rows="3" id="observacion"></textarea>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="buscar" class="col-sm-2 col-form-label">
                            Buscar Producto
                        </label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="buscar" id="buscar" placeholder="Buscar...">
                        </div>
                    </div>

                    <table th:replace="facturas/layout/items :: itemsFactura"></table>

                    <table id="cargarItemProductos"
                           class="table table-sm table-bordered table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                    <h5>
                        Total:
                        <span class="badge bg-secondary" id="granTotal">
                            0
                        </span>
                    </h5>

                    <div class="d-md-flex justify-content-md-end">
                        <div class="col-sm-5">
                            <button type="submit" th:value="${titulo}" class="btn btn-success mt-">
                                Guardar
                                <i class="far fa-save"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div th:insert="layout/footer :: footer"></div>
    <script th:replace="/facturas/js/autocomplete :: autocomplete"></script>
</body>
</html>