<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/head :: head">
</head>
<body>
    <div th:insert="layout/navbar :: navbar" class="mb-2"/>

    <div class="container">
        <div class="card bg-light">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">
                <h4 class="card-title">
                    <a th:href="@{/factura/form/} + ${cliente.id}" class="btn btn-outline-secondary btn-xs">
                        Factura
                        <i class="fas fa-file-invoice-dollar"></i>
                    </a>
                </h4>
                <img class="img-fluid img-thumbnail mx-auto d-block" style="max-width: 20%;"
                     th:src="@{'/cliente/uploads/' + ${cliente.foto}}"
                     th:alt="${cliente.foto}"
                     th:if="${#strings.length(cliente.foto) > 0}">

                <ul class="list-group">
                    <li class="list-group-item" th:text="${cliente.nombre}"></li>
                    <li class="list-group-item" th:text="${cliente.apellido}"></li>
                    <li class="list-group-item" th:text="${cliente.email}"></li>
                    <li class="list-group-item" th:text="${cliente.createdAt}"></li>
                </ul>

                <div class="alert alert-info mt-4"
                     th:if="${#lists.isEmpty(cliente.facturas)}"
                    th:text="'No hay Facturas asignadas para el cliente ' + ${cliente.nombre} + ${cliente.apellido}">

                </div>

                <table th:if="${not #lists.isEmpty(cliente.facturas)}"
                       class="table table-responsive table-bordered table-striped mt-2">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Folio</th>
                            <th>Descripcion</th>
                            <th>Fecha</th>
                            <th>Importe</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="factura : ${cliente.facturas}">
                            <td th:text="${factura.id}"></td>
                            <td th:text="${factura.descripcion}"></td>
                            <td th:text="${factura.createdAt}"></td>
                            <td th:text="${factura.total}"></td>
                            <td>
                                <span>
                                    <a class="btn btn-secondary btn-xs" th:href="@{/factura/show/} + ${factura.id}">
                                        <i class="far fa-eye"></i>
                                    </a>
                                </span>
                                <span>
                                    <a class="btn btn-danger btn-xs" th:href="@{/factura/delete/} + ${factura.id}"
                                        onclick="return confirm('¿Esta seguro de eliminar la factura?');">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h6 class="text-end">
                    Total: <span th:text="'$'+${cliente.getFinalTotal()}"></span>
                </h6>
            </div>
        </div>
    </div>

    <div th:insert="layout/footer :: footer"></div>
</body>
</html>