<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/head :: head">
</head>
<body>
<div th:insert="layout/navbar :: navbar" class="mb-2"/>

<div class="mt-2 mb-2 container">
    <div class="card bg-light">
        <div class="card-header">
            <h1 class="text-center" th:text="${titulo}"></h1>
        </div>
        <div class="card-body">
            <form th:action="@{/cliente/form}" th:object="${cliente}" method="post" enctype="multipart/form-data">
                <div class="mb-2 from-group row">
                    <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-5">
                        <input th:field="*{nombre}" type="text" class="form-control"
                               id="nombre" placeholder="Nombre" th:errorClass="'form-control alert-danger'">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
                               th:errors="*{nombre}"></small>
                    </div>
                </div>
                <div class="mb-2 form-group row">
                    <label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
                    <div class="col-sm-5">
                        <input th:field="*{apellido}" type="text" class="form-control"
                               id="apellido" placeholder="Apellido" th:errorClass="'form-control alert-danger'">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}"
                               th:errors="*{apellido}"></small>
                    </div>
                </div>
                <div class="mb-2 form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Correo electrónico</label>
                    <div class="col-sm-5">
                        <input th:field="*{email}" type="text" class="form-control"
                               id="email" placeholder="Correo" th:errorClass="'form-control alert-danger'">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
                               th:errors="*{email}"></small>
                    </div>
                </div>
                <div class="mb-2 from-group row">
                    <label for="fechaCreacion" class="col-sm-2 col-form-label">Fecha de creación</label>
                    <div class="col-sm-5">
                        <input th:field="*{createdAt}" type="text" class="form-control"
                               id="fechaCreacion" placeholder="Fecha de creación" th:errorClass="'form-control alert-danger'">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('createdAt')}"
                               th:errors="*{createdAt}"></small>
                    </div>
                </div>
                <div class="mb-2 form-group row">
                    <label for="file" class="col-sm-2 col-form-label">Foto</label>
                    <div class="col-sm-5">
                        <input type="file" class="form-control" name="file" id="file">
                    </div>
                </div>
                <div class="d-md-flex justify-content-md-end col-sm-7">
                    <button type="submit" class="btn btn-outline-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:insert="layout/footer :: footer"></div>
</body>
</html>